<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <h1>Hello! Here are your account details:</h1>
    <p>Name:<span th:utext="|${user.getName()}|"></span></p>
    <p>Last name:<span th:utext="|${user.getLastName()}|"></span></p>
    <p>Email:<span th:utext="|${user.getEmail()}|"></span></p>
    <p>Role:<span th:utext="|${user.role}|"></span></p>

    <a th:href="@{/{role}/hello(role=${user.getRole()})}">Go back to home page.</a>
</div>

</body>
</html>