<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <form th:method="POST" th:action="@{/admin/editUser}" th:object="${user}">
        <input type="hidden" name="id" th:value="${user.getId()}">
        <label for="name">
            <p>NAME</p>
            <input type="text" th:field="*{name}" id="name">
        </label>
        <label for="lastName">
            <p>LAST NAME</p>
            <input type="text" th:field="*{lastName}" id="lastName">
        </label>
        <label for="text">
            <p>EMAIL</p>
            <input type="text" th:field="*{email}" id="text">
        </label>
        <label for="username">
            <p>USERNAME</p>
            <input type="text" th:field="*{username}" id="username">
        </label>
        <label for="password">
            <p>PASSWORD</p>
            <input type="text" th:field="*{password}" id="password">
        </label>
        <label for="adminId"><p>Give User admin?</p>
            <input type="checkbox" id="adminId" name="adminAuth" th:value="Admin">
        </label>
        <br/>
        <input type="submit"/>
    </form>
    <a href="/admin/userList">Go back user list.</a>
</div>
</body>
</html>